<div class="row landingMain d-flex align-items-center my-5">
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
        <div class="welcome text-white container">
            <h1>Hello {{firstName}}!</h1>
            <br>
            <h2>Welcome to the Writer's Library.</h2>
          </div>
    </div>
</div>

<h3 class="action p-5 m-5 text-center">What would you like to do today?</h3>
<div class="row actions text-center">
    <div class="col-md-4">
        <h3 ><a class="links" href="/addBook">Add a New Book to the library</a></h3>
        <i class="fas fa-plus"></i>
    </div>
    <div class="col-md-4">
        <h3><a class="links" href="/personalLibrary">View Your Books</a></h3>
        <i class="fas fa-book-open"></i>
    </div>
    <div class="col-md-4">
        <h3><a class="links" href="/library">Find a Great Read</a></h3>
        <i class="fas fa-search"></i>
    </div>
</div>
    