
body {

    background-image: url("/assets/images/adam-jang-8pOTAtyd_Mc-unsplash.jpg");
    background-size: cover; 
    background-repeat: no-repeat;

}

h3 {
    color: white; 
}

a {
    color: #54422e; 
    font-size: 2rem; 
}

a:hover {
    color: #a3a294; 
}

a:active {
    color: #a3a294; 
}

a:visited {
    color: #a3a294; 
}

a:focus {
    color: #a3a294; 
}

.comments{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 100%; 
    overflow: scroll; 
}

.speech-bubble {
    position: relative;
    padding: 25px; 
    background: #54422e;
    margin: 25px; 
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 31px solid transparent;
	border-right-color: #54422e;
	border-left: 0;
	border-bottom: 0;
	margin-top: -15.5px;
	margin-left: -31px;
}